* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1730px;
  width: 100%;
  position: relative;
  padding: 0px 15px;
}

a {
  text-decoration: none;
}

#footer__menu-toggle {
  opacity: 0;
}

#footer__menu-toggle:checked ~ .footer__menu-btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#footer__menu-toggle:checked ~ .footer__menu-btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#footer__menu-toggle:checked ~ .footer__menu-btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -13px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
}

.footer__menu-btn > span,
.footer__menu-btn > span::before,
.footer__menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.footer__menu-btn > span::before {
  content: '';
  top: -10px;
}

.footer__menu-btn > span::after {
  content: '';
  top: 10px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -13px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.footer {
  padding: 40px 0px;
  background-color: #2D2D2D;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__product > ul > li {
  list-style: none;
}

.footer__link {
  color: #fff;
}

.footer__time p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer__time p:not(:last-of-type) {
  margin-bottom: 35px;
}

@media (max-width: 798px) {
  .footer__time p:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.footer__time p > img {
  margin-right: 20px;
}

.footer__call-button {
  margin-bottom: 30px;
}

.footer__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 798px) {
  .footer__social-block {
    margin-bottom: 40px;
  }
}

.footer__logo {
  max-height: 135px;
  height: 100%;
}

@media (max-width: 1470px) {
  .footer__logo {
    height: auto;
  }
}

.footer__top {
  margin-bottom: 40px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1230px) {
  .footer__bottom {
    display: none;
  }
}

.footer__bottom a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bottom img {
  margin-right: 10px;
}

.footer__bottom-laptop {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom-laptop img {
  margin-right: 10px;
}

.footer__bottom-laptop a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1022px) {
  .footer__bottom-laptop a {
    font-size: 10px;
  }
}

@media (max-width: 798px) {
  .footer__bottom-laptop a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1230px) {
  .footer__bottom-laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 798px) {
  .footer__bottom-laptop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__image {
  max-width: 580px;
  width: 100%;
  padding-right: 15px;
}

@media (max-width: 1730px) {
  .footer__image {
    max-width: 350px;
  }
}

@media (max-width: 1470px) {
  .footer__image {
    max-width: 185px;
    padding-right: 30px;
  }
}

@media (max-width: 1022px) {
  .footer__image {
    display: none;
  }
}

.footer__space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 535px;
  width: 100%;
  margin-right: 50px;
}

.footer__left {
  max-width: 55%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 60px;
}

.footer__right {
  max-width: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 60px;
}

.footer__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 547px;
  width: 100%;
}

@media (max-width: 1470px) {
  .footer__top-right {
    max-width: 455px;
  }
}

@media (max-width: 1230px) {
  .footer__laptop-link {
    margin-bottom: 15px !important;
  }
}

@media (max-width: 1230px) {
  .footer__laptop-font-size {
    font-size: 12px !important;
  }
}

.footer__mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.footer__list-mobile {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
}

.footer__item {
  margin: 0px 0px 15px 0px !important;
  color: transparent;
}

.footer__name-wr {
  margin-bottom: 0px !important;
}

.title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 50px;
}

@media (max-width: 798px) {
  .title {
    font-size: 24px;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 10px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

@media (max-width: 606px) {
  .header {
    background-color: black;
  }
}

.header__link-lato-700 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1470px) {
  .header__link-lato-700 {
    font-size: 12px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 798px) {
  .header__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 798px) {
  .header__center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__list li:not(:last-of-type) {
  margin-right: 30px;
}

@media (max-width: 1230px) {
  .header__list li:not(:last-of-type) {
    margin-right: 30px;
  }
}

.header__list-last {
  margin-right: 50px;
}

@media (max-width: 1230px) {
  .header__list-last {
    margin-right: 15px;
  }
}

.header__list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  color: #fff;
}

.header__logo {
  max-width: 185px;
  width: 100%;
}

@media (max-width: 606px) {
  .header__logo {
    max-width: 130px;
  }
}

.header__phone {
  max-width: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}

.header__list-first-child {
  margin-right: 115px;
}

@media (max-width: 1730px) {
  .header__list-first-child {
    margin-right: 70px;
  }
}

@media (max-width: 1470px) {
  .header__list-first-child {
    margin-right: 25px;
  }
}

.header__acount {
  margin-right: 55px;
}

@media (max-width: 1470px) {
  .header__acount {
    margin-right: 25px;
  }
}

.header__link-lato-400 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 798px) {
  .header__right {
    display: none;
  }
}

.header__menu {
  z-index: 1;
  padding: 35px 0px 90px 0px;
  background-color: black;
  position: absolute;
  top: -670%;
  width: 100%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
}

.header__menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-block:not(:last-of-type) {
  margin-right: 30px;
}

@media (max-width: 1230px) {
  .header__menu-block {
    margin-right: 15px;
  }
}

.header__menu-group {
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 1230px) {
  .header__menu-group {
    font-size: 12px;
  }
}

@media (max-width: 1022px) {
  .header__menu-group {
    margin-bottom: 20px;
    font-size: 10px;
  }
}

.header__menu-block > ul > li:not(:last-of-type) {
  margin-bottom: 10px;
}

.header__menu-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  /* or 24px */
  color: #FFFFFF;
}

@media (max-width: 1230px) {
  .header__menu-link {
    font-size: 12px;
  }
}

@media (max-width: 1022px) {
  .header__search {
    display: none;
  }
}

.header__search-full-laptop {
  margin-bottom: 50px;
}

.header__search-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-full > input {
  max-width: 245px;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(196, 196, 196, 0.2);
  padding: 15px;
  color: #fff;
}

.header__search-full > input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__search-full > input:-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__search-full > input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__search-full > input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

@media (max-width: 1230px) {
  .header__search-full > input {
    max-width: 135px;
  }
}

@media (max-width: 1022px) {
  .header__search-full > input {
    max-width: 100%;
  }
}

.header__search-full > button {
  min-width: 50px;
  height: 50px;
  background-color: #FF1E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
}

@media (max-width: 1230px) {
  .header__nav {
    display: none;
  }
}

.header__hamburger-menu {
  margin-right: 50px;
  display: none;
}

@media (max-width: 1230px) {
  .header__hamburger-menu {
    display: block;
  }
}

@media (max-width: 798px) {
  .header__hamburger-menu {
    margin-right: 0px;
  }
}

.header__name-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__name-wr img {
  width: 15px;
  height: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header__name-link-group {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__sub-name-link-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__link-mobile {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #FFFFFF;
}

.header__sublist {
  padding-left: 15px;
  padding-top: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
}

.header__sublist li {
  margin-bottom: 10px;
}

.header__subgroup {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  padding: 5px 0px 0px 15px;
}

.header__item {
  margin-bottom: 15px;
}

.header__acount-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 230px;
  width: 100%;
  margin-bottom: 40px;
}

.header__acount-mobile p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__social-block {
  max-width: 180px;
  width: 100%;
}

.header__time {
  margin-right: 0px;
}

.header__time:not(:last-of-type) {
  margin-bottom: 20px;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 1022px) {
  .hidden-search {
    display: none;
  }
}

.rotate-img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.active-mobile-ul {
  opacity: 1;
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.d-none {
  display: none;
}

.active-menu {
  top: 100%;
  opacity: 1;
}

.active-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.5) !important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 1230px) {
  .active-link {
    font-size: 12px;
    padding-bottom: 10px;
  }
}

.desktop-menu {
  margin-bottom: 30px;
  display: none;
}

@media (max-width: 1230px) {
  .desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.laptop {
  display: none;
  margin-bottom: 50px;
}

@media (max-width: 1022px) {
  .laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 798px) {
  .container-desktop {
    display: none;
  }
}

.container-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 798px) {
  .container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.message {
  position: relative;
  padding: 340px 0px 280px 0px;
  background: linear-gradient(356.6deg, #2D2D2D 7.37%, rgba(0, 0, 0, 0) 71.65%), linear-gradient(130.37deg, rgba(0, 0, 0, 0.6) 44.27%, rgba(0, 0, 0, 0) 96.65%), url("../images/background/background-banner.png") no-repeat center/cover;
}

@media (max-width: 1022px) {
  .message {
    padding: 300px 0px 50px 0px;
  }
}

@media (max-width: 798px) {
  .message {
    padding: 300px 0px 10px 0px;
  }
}

@media (max-width: 606px) {
  .message {
    background: #2D2D2D url("../images/background/led-823383_1920 1.png") no-repeat 0px 140px/contain;
    padding: 360px 0px 10px 0px;
  }
}

@media (max-width: 1470px) {
  .message {
    padding: 300px 0px 50px 0px;
  }
}

.message__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 798px) {
  .message__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.message__text-block {
  max-width: 685px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message__text-block img {
  max-width: 50px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 1022px) {
  .message__text-block img {
    display: none;
  }
}

.message__text-block h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 130%;
  /* or 71px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 50px;
}

@media (max-width: 1022px) {
  .message__text-block h1 {
    font-size: 30px;
  }
}

@media (max-width: 798px) {
  .message__text-block h1 {
    font-size: 25px;
  }
}

.message__text-block p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 798px) {
  .message__text-block p {
    margin-bottom: 30px;
  }
}

@media (max-width: 606px) {
  .message__text-block p {
    font-size: 15px;
  }
}

.message__text-block a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FF1E56;
  display: none;
  max-width: 170px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 798px) {
  .message__text-block a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .message__text-block a img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0px;
  }
}

@media (max-width: 1022px) {
  .message__text-block {
    max-width: 480px;
  }
}

@media (max-width: 798px) {
  .message__text-block {
    max-width: 360px;
  }
}

.message__flashlight {
  position: absolute;
  left: 0%;
  top: 27%;
  z-index: 0;
}

@media (max-width: 798px) {
  .message__flashlight {
    display: none;
  }
}

.social-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 43%;
  left: 0%;
  z-index: 1;
}

@media (max-width: 1022px) {
  .social-block {
    top: 20%;
  }
}

@media (max-width: 798px) {
  .social-block {
    display: none;
  }
}

.social-block a:not(:last-of-type) {
  margin-bottom: 15px;
}

.message-progressbar {
  position: absolute;
  top: 70%;
  right: 0%;
}

@media (max-width: 1022px) {
  .message-progressbar {
    top: 60%;
  }
}

@media (max-width: 798px) {
  .message-progressbar {
    display: none;
  }
}

@media (max-width: 606px) {
  .message-progressbar {
    display: block;
    position: static;
    max-width: 100px;
    width: 100%;
  }
}

.message-progressbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 798px) {
  .message-progressbar__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.message-progressbar__item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
}

.story {
  padding: 60px 0px 45px 0px;
  background-color: #2D2D2D;
}

@media (max-width: 798px) {
  .story {
    padding: 15px 0px 15px 0px;
  }
}

.story__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1022px) {
  .story__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.story__text {
  max-width: 725px;
  width: 100%;
}

@media (max-width: 1730px) {
  .story__text {
    max-width: 500px;
  }
}

@media (max-width: 1022px) {
  .story__text {
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.story__text h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 140%;
  /* identical to box height, or 63px */
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 50px;
}

@media (max-width: 798px) {
  .story__text h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.story__text p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  /* or 24px */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media (max-width: 798px) {
  .story__text p {
    font-size: 12px;
  }
}

.story__text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story__text a > span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  /* identical to box height, or 24px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FF1E56;
  margin-right: 30px;
}

@media (max-width: 798px) {
  .story__text a > span {
    font-size: 15px;
  }
}

.story__text p:nth-child(2) {
  margin-bottom: 30px;
}

.story__text p:nth-child(3) {
  margin-bottom: 50px;
}

@media (max-width: 798px) {
  .story__text p:nth-child(3) {
    margin-bottom: 30px;
  }
}

.story__img {
  max-width: 833px;
  width: 100%;
}

@media (max-width: 1470px) {
  .story__image {
    padding-top: 135px;
    max-width: 600px;
  }
}

@media (max-width: 1230px) {
  .story__image {
    max-width: 450px;
    padding-top: 235px;
  }
}

@media (max-width: 1022px) {
  .story__image {
    max-width: 100%;
    padding-top: 0px;
  }
}

.warranty {
  padding: 45px 0px 60px 0px;
  background-color: #2D2D2D;
}

@media (max-width: 798px) {
  .warranty {
    padding: 15px 0px 15px 0px;
  }
}

.warranty__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1470px) {
  .warranty__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 798px) {
  .warranty__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.warranty__block {
  max-width: 346px;
  width: 100%;
  text-align: center;
}

.warranty__block:not(:last-of-type) {
  margin-right: 30px;
}

@media (max-width: 1470px) {
  .warranty__block:not(:last-of-type) {
    margin-right: 0px;
  }
}

.warranty__block span {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 140%;
  /* identical to box height, or 196px */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: -75px;
  display: block;
}

.warranty__block p:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  /* identical to box height, or 35px */
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.warranty__block p:nth-child(3) {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  /* or 24px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media (max-width: 1022px) {
  .warranty__block p:nth-child(3) {
    font-size: 15px;
  }
}

.warranty__img {
  position: absolute;
  top: -135%;
  left: -5%;
}

@media (max-width: 1730px) {
  .warranty__img {
    max-width: 480px;
    top: -50%;
  }
}

@media (max-width: 1470px) {
  .warranty__img {
    display: none;
  }
}

.catalog {
  background-color: #2D2D2D;
  padding: 60px 0px 120px 0px;
  position: relative;
}

@media (max-width: 798px) {
  .catalog {
    padding: 60px 0px 60px 0px;
  }
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

@media (max-width: 798px) {
  .catalog__inner {
    margin: 0;
  }
}

.catalog__item {
  width: calc(33.333% - 40px);
  margin: 20px;
}

@media (max-width: 798px) {
  .catalog__item {
    width: calc(50% - 20px);
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 606px) {
  .catalog__item {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
}

.catalog__img {
  background: #EAEAEA;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 540px;
  height: 540px;
}

@media (max-width: 1730px) {
  .catalog__img {
    height: auto;
  }
}

@media (max-width: 1470px) {
  .catalog__img {
    height: auto;
  }
}

@media (max-width: 798px) {
  .catalog__img {
    max-width: 606px;
    width: 100%;
  }
}

.catalog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog__link {
  font-family: "Lato", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 1022px) {
  .catalog__link {
    font-size: 14px;
  }
}

@media (max-width: 798px) {
  .catalog__link {
    font-size: 17px;
  }
}

.catalog__flash {
  position: absolute;
  right: 0;
  top: 31%;
}

@media (max-width: 1470px) {
  .catalog__flash {
    max-width: 400px;
    top: 35%;
  }
}

@media (max-width: 1022px) {
  .catalog__flash {
    max-width: 300px;
    top: 35%;
  }
}

@media (max-width: 798px) {
  .catalog__flash {
    max-width: 160px;
    top: -5%;
  }
}

@media (max-width: 606px) {
  .catalog__flash {
    max-width: 120px;
    top: -3%;
  }
}

.feedback {
  padding: 120px 0px;
  background: url("../images/background/feedback.png") no-repeat center/cover;
}

@media (max-width: 798px) {
  .feedback {
    padding: 60px 0px;
  }
}

@media (max-width: 798px) {
  .feedback__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feedback__block {
  padding: 50px;
  background: #EAEAEA;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  max-width: 445px;
  width: 100%;
}

.feedback__block p:first-child {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  color: #2D2D2D;
  margin-bottom: 50px;
}

@media (max-width: 606px) {
  .feedback__block p:first-child {
    font-size: 17px;
  }
}

.feedback__block p:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #2D2D2D;
  margin-bottom: 30px;
}

@media (max-width: 606px) {
  .feedback__block p:nth-child(2) {
    font-size: 12px;
  }
}

.feedback__block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__block form > button {
  border: none;
  background-color: transparent;
  max-width: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.feedback__block form > button > span:hover {
  color: #e40039;
}

.feedback__block form > button > span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  text-transform: uppercase;
  color: #FF1E56;
  margin-right: 15px;
}

@media (max-width: 606px) {
  .feedback__block form > button > span {
    font-size: 15px;
  }
}

.feedback__input {
  padding: 10px;
  outline: none;
  height: 38px;
  max-width: 345px;
  width: 100%;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #2D2D2D;
  margin-bottom: 30px;
  font-size: 20px;
}

@media (max-width: 606px) {
  .feedback__input {
    font-size: 17px;
  }
}

.feedback__input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #2D2D2D;
}

@media (max-width: 606px) {
  .feedback__input::-webkit-input-placeholder {
    font-size: 15px;
  }
}

.feedback__input:-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #2D2D2D;
}

@media (max-width: 606px) {
  .feedback__input:-moz-placeholder {
    font-size: 15px;
  }
}

.feedback__input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #2D2D2D;
}

@media (max-width: 606px) {
  .feedback__input::-moz-placeholder {
    font-size: 15px;
  }
}

.feedback__input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #2D2D2D;
}

@media (max-width: 606px) {
  .feedback__input:-ms-input-placeholder {
    font-size: 15px;
  }
}

.message__error {
  background: #2D2D2D;
  overflow: hidden;
  height: 100vh;
}

.message__error__text-block img {
  max-width: 459px;
  margin-bottom: 0px;
}

.message__error__text-block p {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

.message__error__flashlight {
  bottom: -60%;
  left: 63%;
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.buy {
  padding: 60px 0px;
}

.buy h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #2D2D2D;
  margin-bottom: 50px;
}

.arrow-slider-left {
  position: absolute;
  top: 385px;
  left: -5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.arrow-slider-right {
  position: absolute;
  top: 385px;
  right: -5%;
  cursor: pointer;
}

.single {
  padding: 60px 0px 60px 0px;
}

.single__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single__top-tabs {
  max-width: 850px;
  width: 100%;
  margin-right: 50px;
}

.single__top-window {
  margin-bottom: 50px;
}

.single__top-window img {
  max-width: 850px;
  width: 100%;
}

.single__top-window-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single__top-window-buttons img {
  cursor: pointer;
}

.single__desc h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #2D2D2D;
  margin-bottom: 50px;
}

.single__desc p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #2D2D2D;
  margin-bottom: 50px;
}

.single__desc span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #2D2D2D;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.single__list ul > li {
  list-style: none;
}

.single__list ul:first-child {
  margin-right: 40px;
}

.single__list ul:first-child li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #2D2D2D;
}

.single__list ul:nth-child(2) li {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #2D2D2D;
}

.single__photometrica {
  max-width: 850px;
  width: 100%;
  margin-right: 50px;
}

.single__photometrica h3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #2D2D2D;
  margin-bottom: 30px;
}

.single__photometrica img {
  max-width: 709px;
  width: 100%;
}

.header__product {
  background: #2D2D2D;
}

.banner__product {
  height: 179px;
}

@media (max-width: 606px) {
  .banner__product {
    height: 140px;
  }
}

.catalog__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 680px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1022px) {
  .catalog__history {
    max-width: 530px;
  }
}

.font-style {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #FFFFFF;
}

@media (max-width: 1022px) {
  .font-style {
    font-size: 19px;
  }
}

@media (max-width: 606px) {
  .font-style {
    font-size: 19px;
  }
}

.news__history {
  max-width: 370px !important;
  width: 100%;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

@media (max-width: 798px) {
  .news__inner {
    margin: 0;
  }
}

.news__item {
  width: calc(33.333% - 40px);
  margin: 20px;
}

@media (max-width: 798px) {
  .news__item {
    width: calc(50% - 20px);
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 606px) {
  .news__item {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
}

.news__time {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-align: right;
  margin-bottom: 30px;
}

.news__desc {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
}

.read-more {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FF1E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read-more span {
  margin-right: 15px;
}

.contacts__text {
  max-width: 350px;
  width: 100%;
}

.contacts__text h2 {
  margin-bottom: 30px;
}

.contacts__text p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contacts__text a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contacts__text a img {
  margin-right: 10px;
}

.contacts__img {
  max-width: 1120px;
  width: 100%;
}

.contact_inner {
  margin-bottom: 70px;
}

#individ-p {
  margin-bottom: 0px;
}

.black {
  color: black;
}

@media (max-width: 1730px) {
  .container {
    max-width: 1470px;
  }
}

@media (max-width: 1470px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 1230px) {
  .container {
    max-width: 1022px;
  }
}

@media (max-width: 1022px) {
  .container {
    max-width: 798px;
  }
}

@media (max-width: 798px) {
  .container {
    max-width: 606px;
  }
}

@media (max-width: 606px) {
  .container {
    max-width: 405px;
  }
}
/*# sourceMappingURL=style.css.map */