.footer {
    padding: 40px 0px;
    background-color: #2D2D2D;
    &__block {
        display: flex;
    }
    &__product>ul>li {
        list-style: none;
    }
    &__link {
        color: #fff;
    }
    
    &__time {
        margin-right: 100px;
        p {
            display: flex;
            align-items: center;
            color: #fff;
        }
        p:not(:last-of-type) {
            margin-bottom: 35px;
        }
        p>img {
            margin-right: 20px;
        }
    }
    &__call-button {
        margin-bottom: 30px;
    }
    &__social-block {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        max-height: 135px;
        height: 100%;
    }
    &__top {
        margin-bottom: 40px;
    }
    &__bottom {
        display: flex;
    }
    &__bottom a {
        font-family: $font-lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__bottom img {
        margin-right: 10px;
    }
    &__image {
        max-width: 34%;
        width: 100%;
        padding-right: 15px;
    }
    &__space {
        display: flex;
        justify-content: space-between;
        max-width: 535px;
        width: 100%;
        margin-right: 50px;
    }
    &__left {
        max-width: 55%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 60px;
    }
    &__right {
        max-width: 45%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 60px;
    }
    
}
