.title {
    font-family: $font-playFair;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 50px;
    @include tablets {
        font-size: 24px;
    }
}