@import './mixins/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1730px;
    width: 100%;
    position: relative;
    padding: 0px 15px;
}
a {
    text-decoration: none;
}


$font-lato: 'Lato', sans-serif;
$font-playFair: 'Playfair Display', serif;
$font-color: #fff;

@import './mod/mod';
@import './hamburger-desktop';
@import './footer';
@import './title';
@import './header';
@import './message';
@import './story';
@import './warranty';
@import './catalog';
@import './feedback';

@media (max-width: 1730px) {
    .container {
        max-width: 1470px;
    }
}
@media (max-width: 1470px) {
    .container {
        max-width: 1230px;
    }
}
@media (max-width: 1230px) {
    .container {
        max-width: 1022px;
    }
}
@media (max-width: 1022px) {
    .container {
        max-width: 798px;
    }
}
@media (max-width: 798px) {
    .container {
        max-width: 606px;
    }
}
@media (max-width: 606px) {
    .container {
        max-width: 405px;
    }
}