@import './mixins/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1730px;
    width: 100%;
    position: relative;
    padding: 0px 15px;
}
a {
    text-decoration: none;
}


$font-lato: 'Lato', sans-serif;
$font-playFair: 'Playfair Display', serif;
$font-color: #fff;



@import './index/hamburger-mobile';
@import './index/hamburger-desktop';
@import './index/footer';
@import './index/title';
@import './index/header';
@import './index/message';
@import './index/story';
@import './index/warranty';
@import './index/catalog';
@import './index/feedback';

@import './error/error';

@import './single-product-page/buy';
@import './single-product-page/single';
@import './product/product';
@import './news/news';
@import './contacts/contacts';

@import './mod/mod';

@media (max-width: 1730px) {
    .container {
        max-width: 1470px;
    }
}
@media (max-width: 1470px) {
    .container {
        max-width: 1230px;
    }
}
@media (max-width: 1230px) {
    .container {
        max-width: 1022px;
    }
}
@media (max-width: 1022px) {
    .container {
        max-width: 798px;
    }
}
@media (max-width: 798px) {
    .container {
        max-width: 606px;
    }
}
@media (max-width: 606px) {
    .container {
        max-width: 405px;
    }
}