.warranty {
    padding: 45px 0px 60px 0px;
    background-color: #2D2D2D;
    @include tablets {
        padding: 15px 0px 15px 0px;
    }
    &__inner {
        display: flex;
        justify-content: flex-end;
        @include desktop-lg {
            justify-content: space-between;
        }
        @include tablets {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__block {
        max-width: 346px;
        width: 100%;
        text-align: center;
    }
    &__block:not(:last-of-type) {
        margin-right: 30px;
        @include desktop-lg {
            margin-right: 0px;
        }
    }
    &__block span {
        font-family: $font-playFair;
        font-style: normal;
        font-weight: 400;
        font-size: 140px;
        line-height: 140%;
        /* identical to box height, or 196px */
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.2);
        margin-bottom: -75px;
        display: block;
    }
    &__block p:nth-child(2) {
        font-family: $font-lato;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 140%;
        /* identical to box height, or 35px */
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &__block p:nth-child(3) {
        font-family: $font-lato;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 140%;
        /* or 24px */
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        @include laptop {
            font-size: 15px;
        }
    }
    &__img {
        position: absolute;
        top: -135%;
        left: -5%;
        @include desktop-xlg {
            max-width: 480px;
            top: -50%;
        }
        @include desktop-lg {
            display: none;
        }
    }
}